/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */
body {
	margin: 0;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: 1fr auto 20px auto 1fr;
	height: 100vh;
	background: black;
}
iframe {
	grid-column-start: 2;
	grid-row-start: 2;
}
#closed-captions {
	grid-column-start: 2;
	grid-row-start: 4;
	position: relative;
}
#closed-captions p {
	opacity: 0;
	transition: .05s;
	position: absolute;
	width: 100%;
	text-align: center;
	color: white;
}
#closed-captions .on {
	opacity: 1;
}
#closed-captions .off {
	transition: .2s;
	opacity: 0;
}
.voice1 span {
	font-family: monospace;
}
.voice2 span {
	font-family: "Brenner Slab";
	font-weight: bold;
}
.voice3 span {
	font-family: "Brenner Display Black";
}
.voice4 span {
	font-family: "Brenner Sans Condensed";
	font-size: 1.5em;
	font-weight: bold;
}
#video-placeholder {
	display: block;
	margin: auto;
}

/* **************
~ 7th paragraph ~
************** */

.p6 span {
	color: red;
	font-size: 2em;
}

/* **********************************************
Sounds.
	You can style the whole body, or you can
	style anything within the body the moment
	a sound starts.
*********************************************  */

.sound1 {
	transition: 0.5s ease-in-out;
	background: red;
}
.sound1 iframe {
	transition: 0.5s ease-in-out;
	transform: scale(1.15);
}
.sound2 {
	transition: 0.5s ease-in-out;
	background: black;
}
.sound2 iframe {
	transition: 0.5s ease-in-out;
	transform: scale(1);
}
.sound3{
	animation-name: siren;
	animation-duration: .8s;
}
@keyframes siren {
	0%{
		background: black;
	}
	20%{
		background-image: linear-gradient(to right, red, black);
	}
	40%{
		background-image: linear-gradient(to left, red, black);
	}
	60%{
		background-image: linear-gradient(to right, red, black);
	}
	80%{
		background-image: linear-gradient(to left, red, black);
	}
	100%{
		background: black;
	}
}
.sound5 iframe {
	transform: translateY(-50px);
}
.sound5 {
	background-image: linear-gradient(red, black);
	transition: .5s;
}
.sound6 iframe{
	transform: translateY(0px);
}
.sound6 {
	background: black;
	transition: .5s;
}
.sound7 iframe {
	transition: 0.2s ease-out;
	transform: translateX(100px);
}
.sound8 iframe {
	transition: 0.5s ease-in-out;
	transform: translateX(0px);
}
.sound12 iframe {
	transition: 80s;
	transform: scale(1.5);
}
.sound13 iframe {
	transition: .2s;
	transform: scale(1);
}
